          <div class="news">
            {% if site.data.news != blank -%}
            {%- assign news = site.data.news | sort: "date" | reverse -%}
            {%- assign news_size = news | size -%}
            <div class="table-responsive" {% if include.limit and site.announcements.scrollable and news_size > 3 %}style="max-height: 60vw"{% endif %}>
              <table class="table table-sm table-borderless custom-spacing">
              {% if include.limit and site.announcements.limit %}
              {% assign news_limit = site.announcements.limit %}
              {% else %}
              {% assign news_limit = news_size %}
              {% endif %}
              {% for item in news limit: news_limit %}
                <tr>
                  <th scope="row">{{ item.date | date: "%b %-d, %Y" }}</th>
                  <td>
                    {% if item.content_zh %}
                    <span class="lang-content" data-lang="en">{{ item.content | markdownify | remove: '<p>' | remove: '</p>' | strip | emojify }}</span>
                    <span class="lang-content" data-lang="zh">{{ item.content_zh | markdownify | remove: '<p>' | remove: '</p>' | strip | emojify }}</span>
                    {% else %}
                    {{ item.content | markdownify | remove: '<p>' | remove: '</p>' | strip | emojify }}
                    {% endif %}
                  </td>
                </tr>
              {%- endfor %}
              </table>
            </div>
          {%- else -%}
            {% if site.bilingual.enabled %}
            <p class="lang-content" data-lang="en">No news so far...</p>
            <p class="lang-content" data-lang="zh">暂无动态...</p>
            {% else %}
            <p>No news so far...</p>
            {% endif %}
          {%- endif %}
          </div>
